<!--
<h1>Subjects#edit</h1>
<p>Find me in app/views/subjects/edit.html.erb</p>
-->
<% @page_title = "Subjs Edit" %>

<%= link_to("<< Back to list", {:action => 'index'}, :class => 'back-link') %>
<div class="subjects edit">
    <h2>Update Subject</h2>
    <%= form_for(:subject, :url => {:action => 'update', :id => @subject.id}) do |f| %>
    <!-- Partial thinggie -->
    <%= render(:partial => 'form', :locals => {:f => f}) %>
    <div class="form-buttons">
        <%= submit_tag("Update Subject") %>
    </div>
    <% end %>
</div>