<!DOCTYPE html>
<html>
    <head>
      <title>Simple CMS</title>
      <%= javascript_include_tag('application') %>
    </head>
    <body>
<!--    before yield-->
    <%= yield %>
<!--    after yield-->
    </body>
</html>
